/* 
 *= require_self
 */
p {
    font-weight: bold;
    font-style: italic;
    margin: 18px;
}
section {
    background-color: whitesmoke;
}
li {
    float: left;
    background-color: white;
    padding: 5px 19px;
    margin: 5px 2px 5px 0px;
    color: black;
    list-style: none;
}
li:hover, li:hover a {
    background-color: beige;
    color:black;
}
li a {
    text-decoration: none;
    color: grey;
    font-size: 21px;
}
li:nth-child(1) {
    border-radius: 4px 0px 0px 4px;
    margin-left: 1px;
}
li:nth-child(3) {
    border-radius: 0px 4px 4px 0px;
}
.active {
    background-color: beige;
    font-style: italic;
}